body{
    background-image:url("back4.jpg");
    background-size: cover ;

    font-size: 25px;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
header{
    height: 25px;
    width: 100%;
    margin-top: 0%;
}
.coffee{
  margin-left: 400px;
  color:black;
  font-size: 30px;
}
header h1{s
display: block;
}
nav{
 float: right;
 margin-right: 15px;
 font-family: fantasy;
}
nav a{
    padding: 22px;
    color:whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: Impact;
    
}
.flip-card {
    width: 500px;
    height: 400px;
    border: 1px solid ;
    border-color:white;
    perspective: 1000px; 
    margin-left: 400px;
    margin-top: 40px;
    
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    margin-top: 40px;
    
  }
  
  .flip-card-back {

    
    transform: rotateY(180deg);
  }
  div h1{
color: aliceblue;
  }
  .footer{
    text-align: center;
  }footer
  {
      position: absolute;
      width: 100%;
      top: 1200px;
  }
  
  .footer-main-div
  {
    
      
      
      padding: 20px 0;
  }
  
  .footer-social-icons
  {
      width:100%;
      height: auto;
      margin: auto
  }
  
  .footer-social-icons ul
  {
      margin: 0;
      padding: 0;
      text-align: center;
  }
  
  .footer-social-icons ul li
  {
      display: inline-block;
      margin: 0 10px;
  }
  
  .footer-social-icons ul li img
  {
      width: 30px;
      height: 30px;
  }
  
  .footer-social-icons ul li .twitter
  {
      width: 40px;
      height: 40px;
      margin-bottom: -5px;
  }
  
  .footer-menu-one
  {
      width: 100%;
      height: auto;
      margin: auto;
      margin-top: 25px;
  }
  
  .footer-menu-one ul
  {
      margin: 0;
      padding: 0;
      text-align: center;
  }
  
  .footer-menu-one ul li
  {
      display: inline-block;
      margin: 0 15px;
  }
  
  .footer-menu-one ul li a
  {
      font-family: arial;
      font-size: 15px;
      font-weight: 600;
      color:#0a090a ;
      text-transform: uppercase;
      text-decoration: none;
  }
  
  .footer-menu-two
  {
      width: 100%;
      height: auto;
      margin: auto;
      margin-top: 15px;
  }
  
  .footer-menu-two ul
  {
      margin: 0;
      padding: 0;
      text-align: center;
  }
  
  .footer-menu-two ul li
  {
      display: inline-block;
      margin: 0 15px;
  }
  
  .footer-menu-two ul li a
  {
      font-family: arial;
      font-size: 15px;
      font-weight: 600;
      color:#0a090a ;
      text-decoration: none;
  }
  
  .footer-bottom
  {
      width: 100%;
      height: auto;
      margin: auto;
      padding: 10px;
      background-color:#0a090a ;
  }
  
  .footer-bottom p
  {
      text-align: center;
      font-family: arial;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 2px;
      color: #FFF
  }
  .about{
    text-align: center;
  }